@charset "utf-8";
@import "../node_modules/bulma/bulma";

// Google Font Import
@import url('https://fonts.googleapis.com/css?family=Poppins:400,400i,700,700i&subset=latin-ext');

// Set theme colors
@import "./team_colors.scss";

// Update Bulma's global variables
$family-sans-serif: "Poppins", sans-serif;

// Update some of Bulma's component variables



// all other styles
.is-flexed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bold {
    font-weight: 700;
}

.titled {
    font-size: 4vw;
}

.link {
    color: inherit;
}

.link:hover {
    color: inherit;
    text-decoration: underline;
}

.team-logo {
    width: 8vw;
    height: 8vw;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.player-name {
    margin-left: 2vw;
    margin-right: 2vw;
}

.preferred-name {
    font-weight: 500;
    font-size: 2vw;
}

.last-name {
    font-weight: 700;
    font-size: 2.5vw;
}

.player-info {
    margin-left: 2vw;
    margin-right: 2vw;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5vw;
}

.info-item {
    font-size: 1.25vw;
    margin: 1.25vw auto 1.25vw auto;
}

.current-team-logo {
    
}