@import "../node_modules/bulma/sass/utilities/functions.sass";
@import "../node_modules/bulma/sass/utilities/mixins.sass";

// Team Colors

// NBA
$DarkCornflowerBlue: rgb(23, 64, 139);
$PhilippineRed: rgb(201, 8, 42);

// ATL
$HawksRed: rgb(225, 68, 52);
$VoltGreen: rgb(196, 214, 0);
$HawksCharcoal: rgb(38,40,42);

// BOS
$CelticsGreen: rgb(0, 122, 51);
$CelticsGold: rgb(139,111,78);
$CelticsBrown: rgb(150, 56, 33);
$CelticsBeige: rgb(229,158,109);

// BKN
$Black: rgb(0,0,0);
$White: rgb(255,255,255);
$NetsNavyBlue: rgb(0,42,96);
$NetsRed: rgb(205,16,65);
$NetsGray: rgb(119,125,132);
$NetsSilver: rgb(198,207,212);

// CHA
$HornetsPurple: rgb(29,17,96);
$Teal: rgb(0,120,140);
$HornetsGray: rgb(161,161,164);

// CHI
$BullsRed: rgb(206,17,65);
$BullsBlack: rgb(6,25,34);

// CLE
$CavaliersWine: rgb(111,38,61);
$CavaliersNavy: rgb(4,30,66);
$CavaliersYellow: rgb(255,184,28);
$CavaliersBlack: rgb(6,25,34);

// DAL
$RoyalBlue: rgb(0,83,188);
$NavyBlue: rgb(0,43,92);
$MavericksSilver: rgb(187,196,202);
$MavericksBlack: rgb(6,25,34);

// DEN
$NuggetsMidnightBlue: rgb(13,34,64);
$SunshineYellow: rgb(255,198,39);
$FlatironsRed: rgb(139, 35, 50);
$SkylineBlue: rgb(29,66,138);

// DET
$PistonsRed: rgb(200,16,46);
$Royal: rgb(29,66,138);
$PistonsGray: rgb(181,179,179);
$PistonsNavy: rgb(0,45,98);

// GSW
$WarriorsRoyalBlue: rgb(0,107,182);
$GoldenYellow: rgb(253,185,39);
$Slate: rgb(38,40,42);

// HOU
$RocketsRed: rgb(206,17,65);
$RocketsBlack: rgb(6,25,34);
$RocketsSilver: rgb(196,206,211);

// IND
$PacersBlue: rgb(0,45,98);
$PacersYellow: rgb(253,187,48);
$PacersSilver: rgb(190,192,194);

// LAC
$ClippersRed: rgb(200,16,46);
$ClippersBlue: rgb(29,66,148);
$ClippersSilver: rgb(190,192,194);

// LAL
$LakersPurple: rgb(85,37,130);
$LakersGold: rgb(253,185,39);
$LakersBlack: rgb(6,25,34);

// MEM
$GrizzliesBlue: rgb(93,118,169);
$GrizzliesNavy: rgb(18,23,63);
$GrizzliesYellow: rgb(255,187,34);
$GrizzliesGray: rgb(112,114,113);

// MIA
$HeatRed: rgb(152,0,46);
$HeatYellow: rgb(249,160,27);
$HeatBlack: rgb(6,25,34);
$ViceBlue: rgb(65,182,230);
$ViceFuschia: rgb(219,62,177);

// MIL
$GoodLandGreen: rgb(0,71,27);
$CreamCityCream: rgb(240,235,210);
$GreatLakesBlue: rgb(0,125,197);
$BucksBlack: rgb(6,25,34);

// MIN
$WolvesMidnightBlue: rgb(12,35,64);
$LakeBlue: rgb(35,97,146);
$MoonlightGrey: rgb(158,162,162);
$AuroraGreen: rgb(120,190,32);
$PrinceDarkPurple: rgb(152, 29, 151);
$PrincePurple: rgb(120,190,32);

// NOP
$PelicansNavy: rgb(0,22,65);
$PelicansRed: rgb(225,58,62);
$PelicansGold: rgb(180,151,90);

// NYK
$KnicksBlue: rgb(0,107,182);
$KnicksOrange: rgb(245,132,38);
$KnicksSilver: rgb(190,192,194);
$KnicksBlack: rgb(35,31,32);

// OKC
$ThunderBlue: rgb(0,125,195);
$Sunset: rgb(239,59,36);
$ThunderDarkBlue: rgb(0,45,98);
$ThunderYellow: rgb(253,187,48);

// ORL
$MagicBlue: rgb(0,125,197);
$MagicSilver: rgb(196,206,211);
$MagicBlack: rgb(6,25,34);

// PHI
$SixersBlue: rgb(0,107,182);
$SixersRed: rgb(237,23,76);
$SixersNavy: rgb(0,43,92);
$SixersSilver: rgb(196,206,211);

// PHX
$SunsPurple: rgb(29,17,96);
$SunsOrange: rgb(229,95,32);
$SunsBlack: rgb(6,25,34);
$SunsGray: rgb(99,113,122);
$SunsYellow: rgb(249,160,27);
$SunsDarkOrange: rgb(185,89,21);
$SunsLightGray: rgb(190,192,194);

// POR
$BlazersRed: rgb(224,58,62);
$BlazersBlack: rgb(6,25,34);

// SAC
$KingsPurple: rgb(91,43,130);
$KingsGray: rgb(99,113,122);
$KingsBlack: rgb(6,25,34);

// SAS
$SpursSilver: rgb(196,206,211);
$SpursBlack: rgb(6,25,34);

// TOR
$RaptorsRed: rgb(206,17,65);
$RaptorsBlack: rgb(6,25,34);
$RaptorsSilver: rgb(161,161,164);
$RaptorsGold: rgb(180,151,90);

// UTA
$JazzNavy: rgb(0,43,92);
$JazzGreen: rgb(0,71,27);
$JazzYellow: rgb(249,160,27);

// WAS
$WizardsNavyBlue: rgb(0,43,92);
$WizardsRed: rgb(227,24,55);
$WizardsSilver: rgb(196,206,212);


@mixin theme($name, $primary, $secondary, $tertiary) {
    $text-color: findColorInvert($primary);
    $text-invert: findColorInvert($text-color);
    $text-color-secondary: findColorInvert($secondary);
    $text-color-tertiary: findColorInvert($tertiary);
    
    .#{$name} {
        .primary-background {
            background-color: $primary;
            position: relative;
            height: 9rem;
            border-bottom: 5rem solid white;
            border-left: 100vw solid transparent;
            @include touch {
                height: 6rem;
            }
        }

        .secondary-diagonal {
            border-bottom: 5rem solid $secondary;
            border-left: 100vw solid transparent;
        }
        .secondary-background {
            background-color: $secondary;
            position: relative;
            height: 14rem;
            overflow: hidden;
            border-bottom: 5rem solid white;
            border-left: 100vw solid transparent;
            @include touch {
                height: 10rem;
            }
        }

        .primary-diagonal {
            border-top: 4rem solid $primary;
            border-left: 100vw solid transparent;
        }

        .white-diagonal {
            width: 0;
            height:0;
            position:absolute;
            bottom:0px;
            border-bottom: 6rem solid white;
            border-left: 100vw solid transparent;
        }

        .block {
            -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            position: relative;
            overflow: hidden;
        }

        .block::before {
            content: "";
            position: absolute;
            z-index: -1;
            left: 0;
            right: 0;
            top: 100%;
            background: $secondary;
            height: 100%;
            -webkit-transition-property: top;
            transition-property: top;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
            
        }

        .block:hover::before {
            top: 0;
        }

        nav.navbar, .navbar-menu {
            background: $primary;
            width: 100vw;
        }
        
        a.navbar-item {
            color: $text-color;
        }

        a.navbar-item:hover, a.navbar-brand:hover {
            color: $text-color-tertiary;
            background: $tertiary
        }

        a.navbar-burger span {
            color: $text-color;
        }

        circle {
            fill: $secondary;
        }

        .curve {
            fill: none;
            stroke: $primary;
            stroke-width: 0.25rem;
        }

        .menu-list li {
            padding: 0.2rem;
            border-radius: 5px;
            margin-top: 0.1rem;
        }
        
        .menu-list li:hover {
            background: $secondary;
            color: $text-color;
            cursor: pointer;
        }

        .menu-list li.is-active {
            background: $primary;
            color: $text-color
        }

        .box-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: $text-color-tertiary;
            background: $tertiary;
            // opacity: 0.8;
        }

        .box-header {
            width: 100%;
            font-size: 1.5rem;
        }

        a.result-link {
            color: inherit;
        }
        a.result-link:hover {
            text-decoration: none;
        }

        .result-item {
            display: flex;
            flex-direction: column;
            background: #f8f8f8;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
        }

        .result-info {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            div {
                padding-top: 2rem;
            }
        }

        .result-team {
            margin-top: 1rem;
            background: $primary;
            color: $text-color;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
        }

    }
}

@include theme(default-theme, $DarkCornflowerBlue, $PhilippineRed, $White);
@include theme(ATL-theme, $HawksRed, $VoltGreen, $HawksCharcoal);
@include theme(BOS-theme, $CelticsGreen, $CelticsGreen, $CelticsGold);
@include theme(BKN-theme, $Black, $Black, $NetsSilver);
@include theme(CHA-theme, $Teal, $HornetsPurple, $HornetsGray);
@include theme(CHI-theme, $BullsRed, $BullsBlack, $Black);
@include theme(CLE-theme, $CavaliersWine, $CavaliersYellow, $CavaliersNavy);
@include theme(DAL-theme, $RoyalBlue, $MavericksSilver, $NavyBlue);
@include theme(DEN-theme, $NuggetsMidnightBlue, $SunshineYellow, $FlatironsRed);
@include theme(DET-theme, $PistonsRed, $Royal, $PistonsGray);
@include theme(GSW-theme, $GoldenYellow, $WarriorsRoyalBlue, $Slate);
@include theme(HOU-theme, $RocketsRed, $RocketsSilver, $RocketsBlack);
@include theme(IND-theme, $PacersYellow, $PacersBlue, $PacersSilver);
@include theme(LAC-theme, $ClippersBlue, $ClippersRed, $ClippersSilver);
@include theme(LAL-theme, $LakersPurple, $LakersGold, $LakersBlack);
@include theme(MEM-theme, $GrizzliesBlue, $GrizzliesNavy, $GrizzliesYellow);
@include theme(MIA-theme, $HeatRed, $HeatYellow, $HeatBlack);
@include theme(MIL-theme, $GoodLandGreen, $CreamCityCream, $GreatLakesBlue);
@include theme(MIN-theme, $WolvesMidnightBlue, $LakeBlue, $AuroraGreen);
@include theme(NOP-theme, $PelicansNavy, $PelicansRed, $PelicansGold);
@include theme(NYK-theme, $KnicksOrange, $KnicksBlue, $KnicksSilver);
@include theme(OKC-theme, $ThunderBlue, $Sunset, $ThunderYellow);
@include theme(ORL-theme, $MagicBlue, $MagicSilver, $MagicBlack);
@include theme(PHI-theme, $SixersBlue, $SixersRed, $SixersSilver);
@include theme(PHX-theme, $SunsOrange, $SunsPurple, $SunsGray);
@include theme(POR-theme, $BlazersRed, $BlazersBlack, $White);
@include theme(SAC-theme, $KingsPurple, $KingsGray, $KingsBlack);
@include theme(SAS-theme, $SpursSilver, $SpursBlack, $White);
@include theme(TOR-theme, $RaptorsRed, $RaptorsSilver, $RaptorsGold);
@include theme(UTA-theme, $JazzYellow, $JazzGreen, $JazzNavy);
@include theme(WAS-theme, $WizardsNavyBlue, $WizardsRed, $WizardsSilver);