// Loader
.lds-ring {
  display: inline-block;
  position: relative;
  width: 6rem;
  height: 6rem;

  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 8rem;
    height: 8rem;
    margin: 0.25rem;
    border: 0.25rem solid black;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: black transparent transparent transparent;
  
    &:nth-child(1) {
      animation-delay: -0.45s;
    }

    &:nth-child(2) {
      animation-delay: -0.3s;
    }

    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}


@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lds-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 10vw;
}

//reset
img {
  max-height: 100%;
  max-width: 100%;
  mix-blend-mode: multiply;
}

a {
  color: inherit;
  text-decoration: underline;

  &:hover {
    color: lightslategray;
  }
}


// base
.is-flexed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-logo {
  display: block;
  width: 18rem;
  height: 18rem;
  @include touch {
    width: 12rem;
    height: 12rem;
  }
}


.preferred-name {
  font-weight: 500;
  font-size: 2rem;
}

.last-name {
  font-weight: 700;
  font-size: 2.5rem;
}


.team-name {
  padding-right: 3rem;
  @include touch {
    padding-right: 0;
  }
}

.arena-name {
  display: flex;
  flex-direction: row;
  
  ion-icon {
    font-size: 1.5rem;
    margin-top: 1.25rem;
    margin-right: 0.5rem;

    @include touch {
      margin-top: 0.5rem;
    }
  }
}

.team-info {
  p {
    margin-top: 1rem;
    @include touch {
      margin-top: 0.4rem;
    }
  }
}
.info-item {
  font-size: 1.25rem;
  margin: 1.25rem auto 1.25rem auto;
}

#bc-container {
  padding-top: 1rem;
  padding-left: 0.5rem;
}



.team-tile {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;

    &::before {   
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      right: 100%;
      bottom: 0;
      background: $PhilippineRed;
      height: 4px;
      -webkit-transition-property: right;
      transition-property: right;
      -webkit-transition-duration: 0.2s;
      transition-duration: 0.2s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
    }

    &:hover::before {
      right: 0;
    }
}

.zoom-in
  { 
    img {
      -webkit-transform: scale(1) translateY(0);
      transform: scale(1) translateY(0);
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
    }

  &:hover img {
    -webkit-transform: scale(1.25) translateY(12%);
    transform: scale(1.25) translateY(12%);
  }

  * {
    text-decoration: none;
    color: black;
  }

  .roster-text {
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    transition-property: font-size;
  }

  &:hover .roster-text {
    font-size: 1.1rem;
  }

  .roster-pos {
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
  }

  &:hover .roster-pos {
    color: white;
    text-decoration: none;
  }
}

.footer {
    margin-top: 1.5rem;
}

.box-stat-val {
  font-size: 1.5rem;
}

.box-stat-name {
  font-size: 1rem;
}

.d3-container {
  display: flex;
  min-height: 33%;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: scroll;
  // background: #f8f9fa;
}

.d3-svg {
  // display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  // z-index: -10;
}

.heat-map-rect {
  rx: 4;
  ry: 4;
  stroke-width: 4;
  stroke: none;
  opacity: 0.8;
}

.tooltip {
  position: absolute;			
  // text-align: center;
  background: black;
  border-radius: 5px;
  padding: 5px;
  width: 8rem;
  height: 5rem;
  // text-anchor: left;
  // text-align: left;
  font-size: 0.8rem;
  color: white;
  // border: 1px solid white;
}

.main-container {
  display: flex;
}

.personal-links {
  display: flex;
  a {
    color: black;
    margin: 2rem;
    -webkit-transition: transform 0.5s, color 0.5s;
    transition: transform 0.5s color 0.5s;

    &:hover {
      color: hsl(217, 71%, 53%);
      -webkit-transform: scale(1.5);
      transform: scale(1.5);

    }
  }
}

.search-container {
  margin-top: 4rem;
}

#player-search-large {
  border: none;
  width: 40%;
  height: 3rem;
  font-size: 2rem;
}

#player-search-large:focus {
  outline: none;
}

.underline {
  border-bottom: 1px solid rgb(224, 224, 224);
  bottom: 0rem;
  box-sizing: content-box;
  margin: 0px;
  position: absolute;
  width: 40%;
}

.is-focused {
  border-bottom: 1px solid $PhilippineRed;
  -webkit-transition: border-bottom 0.5s ease;
  transition: border-bottom 0.5s ease-out;
}

.search-input {
  position: relative;
  display: flex;
  justify-content: center;
}

.results {
  margin-top: 2rem;
  padding: 2rem;
}

.search-results {
  margin: 2rem;

  li {
    margin: 1.5rem;
    -webkit-transition: transform 0.2s;
    transition: transform 0.2s;

    &:hover {
      -webkit-transform: scale(1.25);
      transform: scale(1.25);
    }
  }
}

.selected-stat {
  background: black;
  color: white;
}

// .stat-tag {
//   margin-left: 0.5rem;
// }

.stat-selector {
  display: flex;
  justify-content: space-around;  
}

.splash-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.d3-title {
  text-anchor: left;
  font-size: 2.5em;
}

.grid line {
  stroke: lightgray;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.date-panel {
  margin-top: 1rem;
}

.games-title {
  margin-top: 3rem;
  font-size: 2rem;
  font-weight: 700;
}

.date-selector {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dates {
  min-height: 4rem;
  border-radius: 25%;
  margin: auto 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  min-width: 3rem;

  &:hover {
    background: #f1f1f1;
    cursor: pointer;
  }
}

.weekday {
  text-transform: uppercase;
  font-size: 0.7rem;
}

.selected-date {
  color: $PhilippineRed;
}

.left-arrow {
  @include arrow($DarkCornflowerBlue);
  transform: rotate(45deg);
  left: 50%;
}

.right-arrow {
  @include arrow($DarkCornflowerBlue);
  transform: rotate(225deg);
  left: 50%;
}

.arrow-container {
  position: relative;
  min-height: 4rem;
  min-width: 3rem;

  &:hover {
    cursor: pointer;
    
    .right-arrow, .left-arrow {
      @include arrow($Black);
    }

    .right-arrow {
      transform: rotate(225deg);
    }

    .left-arrow {
      transform: rotate(45deg);
    }
  }

}