@import "../../node_modules/bulma/sass/utilities/functions.sass";
@import "../../node_modules/bulma/sass/utilities/mixins.sass";
@import "colors";

@mixin theme($name, $primary, $secondary, $tertiary) {
    $text-color: findColorInvert($primary);
    $text-invert: findColorInvert($text-color);
    $text-color-secondary: findColorInvert($secondary);
    $text-color-tertiary: findColorInvert($tertiary);
    
    .#{$name} {
        
        .primary-background {
            background-color: $primary;
            position: relative;
            height: 9rem;
            border-bottom: 5rem solid white;
            border-left: 100vw solid transparent;
            @include touch {
                height: 6rem;
            }
        }

        .secondary-diagonal {
            border-bottom: 5rem solid $secondary;
            border-left: 100vw solid transparent;
        }
        .secondary-background {
            background-color: $secondary;
            position: relative;
            height: 14rem;
            overflow: hidden;
            border-bottom: 5rem solid white;
            border-left: 100vw solid transparent;
            @include touch {
                height: 10rem;
            }
        }

        .primary-diagonal {
            border-top: 4rem solid $primary;
            border-left: 100vw solid transparent;
        }

        .white-diagonal {
            width: 0;
            height:0;
            position:absolute;
            bottom:0px;
            border-bottom: 6rem solid white;
            border-left: 100vw solid transparent;
        }

        .block {
            -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            position: relative;
            overflow: hidden;

            &:hover::before {
                top: 0;
            }

            &::before {
                content: "";
                position: absolute;
                z-index: -1;
                left: 0;
                right: 0;
                top: 100%;
                background: $secondary;
                height: 100%;
                -webkit-transition-property: top;
                transition-property: top;
                -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
                -webkit-transition-timing-function: ease-out;
                transition-timing-function: ease-out;
            }
        }

        nav.navbar, .navbar-menu {
            background: $primary;
            width: 100vw;
        }

        a {
            &.navbar-item {
                text-decoration: none;
                color: $text-color;
                &:hover {
                    color: $text-color-tertiary;
                    background: $tertiary;
                }
            }

            &.navbar-burger {
                span {
                    color: $text-color;
                }
            }

            &.navbar-brand:hover {
                color: $text-color-tertiary;
                background: $tertiary;
            }
        }

        circle {
            fill: $secondary;
        }

        .curve {
            fill: none;
            stroke: $primary;
            stroke-width: 0.25rem;
        }

        .menu-list {
            li {
                padding: 0.2rem;
                border-radius: 5px;
                margin-top: 0.1rem;

                &:hover {
                    background: $secondary;
                    color: $text-color;
                    cursor: pointer;
                }

                &.is-active {
                    background: $primary;
                    color: $text-color
                }
            }
        }

        .box-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: $text-color-tertiary;
            background: $tertiary;
        }

        .box-header {
            width: 100%;
            font-size: 1.5rem;
        }

        a.result-link {
            color: inherit;
            text-decoration: none;
        }
        a.result-link:hover {
            text-decoration: none;
        }

        .result-item {
            display: flex;
            flex-direction: column;
            background: #f8f8f8;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
        }

        .result-info {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            div {
                padding-top: 2rem;
            }
        }

        .result-team {
            margin-top: 1rem;
            background: $primary;
            color: $text-color;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
        }

    }
}

@include theme(default-theme, $DarkCornflowerBlue, $PhilippineRed, $White);
@include theme(ATL-theme, $HawksRed, $VoltGreen, $HawksCharcoal);
@include theme(BOS-theme, $CelticsGreen, $CelticsGreen, $CelticsGold);
@include theme(BKN-theme, $Black, $Black, $NetsSilver);
@include theme(CHA-theme, $Teal, $HornetsPurple, $HornetsGray);
@include theme(CHI-theme, $BullsRed, $BullsBlack, $Black);
@include theme(CLE-theme, $CavaliersWine, $CavaliersYellow, $CavaliersNavy);
@include theme(DAL-theme, $RoyalBlue, $MavericksSilver, $NavyBlue);
@include theme(DEN-theme, $NuggetsMidnightBlue, $SunshineYellow, $FlatironsRed);
@include theme(DET-theme, $PistonsRed, $Royal, $PistonsGray);
@include theme(GSW-theme, $GoldenYellow, $WarriorsRoyalBlue, $Slate);
@include theme(HOU-theme, $RocketsRed, $RocketsSilver, $RocketsBlack);
@include theme(IND-theme, $PacersYellow, $PacersBlue, $PacersSilver);
@include theme(LAC-theme, $ClippersBlue, $ClippersRed, $ClippersSilver);
@include theme(LAL-theme, $LakersPurple, $LakersGold, $LakersBlack);
@include theme(MEM-theme, $GrizzliesBlue, $GrizzliesNavy, $GrizzliesYellow);
@include theme(MIA-theme, $HeatRed, $HeatYellow, $HeatBlack);
@include theme(MIL-theme, $GoodLandGreen, $CreamCityCream, $GreatLakesBlue);
@include theme(MIN-theme, $WolvesMidnightBlue, $LakeBlue, $AuroraGreen);
@include theme(NOP-theme, $PelicansNavy, $PelicansRed, $PelicansGold);
@include theme(NYK-theme, $KnicksOrange, $KnicksBlue, $KnicksSilver);
@include theme(OKC-theme, $ThunderBlue, $Sunset, $ThunderYellow);
@include theme(ORL-theme, $MagicBlue, $MagicSilver, $MagicBlack);
@include theme(PHI-theme, $SixersBlue, $SixersRed, $SixersSilver);
@include theme(PHX-theme, $SunsOrange, $SunsPurple, $SunsGray);
@include theme(POR-theme, $BlazersRed, $BlazersBlack, $White);
@include theme(SAC-theme, $KingsPurple, $KingsGray, $KingsBlack);
@include theme(SAS-theme, $SpursSilver, $SpursBlack, $White);
@include theme(TOR-theme, $RaptorsRed, $RaptorsSilver, $RaptorsGold);
@include theme(UTA-theme, $JazzYellow, $JazzGreen, $JazzNavy);
@include theme(WAS-theme, $WizardsNavyBlue, $WizardsRed, $WizardsSilver);